<!-- Linked to question.hbs -->
<div class="question-pages text-center">
  <h3>{{question.questionContent}}</h3>
  <p>{{question.questionNotes}}</p>
  <p>{{question.questionAuthor}}</p>

  {{edit-question question=question editQuestion="editQuestion"}}

</div>

<div class="answer-block">
  <div class="text-center">
    <h3>Answers</h3>
  </div>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
  <div class="text-center">
    {{question-noanswer question}}
  </div>
</div>
